<div class="jumbotron text-center">
  <h1>About Page</h1>
  <p>{{ message}}</p>
</div>
<!--        <p class="text-center">Lorem Ipsum sic dolor ist...</p>
        <ul ng-repeat="employee in employees"> 
          <li>{{employee.Name}}</li>
       <li> {{employee.Surname}}</li>
        <li>{{employee.Position}}</li>
       <li> {{employee.Salary}}</li>
        </ul>-->

<table class="table"> 
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Position</th>
      <th>Salary</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th>Like/Dislike</th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="employee in employees">
      <td>{{employee.Name}}</td>
      <td>{{employee.Surname}}</td>
      <td>{{employee.Position}}</td>
      <td>{{employee.Salary}}</td>
      <td>{{employee.Likes}}</td>
      <td>{{employee.Dislikes}}</td>
      <td><input type="button" value="Like" ng-click="incrementLikes(employee)">
  <input type="button" value="Dislike" ng-click="incrementDislikes(employee)"></td>
  </tr>
  <!--</tbody>-->
</table>